In [3]:
# https://www.kaggle.com/shivamkushwaha/bbc-full-text-document-classification
!wget -nc https://lazyprogrammer.me/course_files/nlp/bbc_text_cls.csv

File ‘bbc_text_cls.csv’ already there; not retrieving.

In [4]:
# there are 3 important steps to implement the TF-IDF FROM SCARTCH:
#1. Word to Index
#2. CountVectorizer
#3. TF-IDF

# these 3 are the most important things while implementing the TF-IDF from scartch

In [5]:
import pandas as pd
import numpy as np
import nltk
from nltk import word_tokenize
nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [6]:
df = pd.read_csv('bbc_text_cls.csv')
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [29]:
# populate word2idx
# convert documents into sequences of ints / ids / indices
idx = 0
word2idx = {}
tokenized_docs = []
for doc in df['text']:
  words = word_tokenize(doc.lower())
  doc_as_int = []
  for word in words:
    if word not in word2idx:
      word2idx[word] = idx
      idx += 1

    # save for later
    doc_as_int.append(word2idx[word])
  tokenized_docs.append(doc_as_int)

In [1]:
#wordidx=[]
#for doc in df['text']:
#    words = word_tokenize(doc.lower())  # Tokenize and convert to lowercase
#    for word in words:
#        if word not in wordidx:  # Avoid duplicates
#            wordidx.append(word) #Timecomplexity:0(n) so it would so much of the time

In [8]:
df['text']

0       Ad sales boost Time Warner profit\n\nQuarterly...
1       Dollar gains on Greenspan speech\n\nThe dollar...
2       Yukos unit buyer faces loan claim\n\nThe owner...
3       High fuel prices hit BA's profits\n\nBritish A...
4       Pernod takeover talk lifts Domecq\n\nShares in...
                              ...
2220    BT program to beat dialler scams\n\nBT is intr...
2221    Spam e-mails tempt net shoppers\n\nComputer us...
2222    Be careful how you code\n\nA new European dire...
2223    US cyber security chief resigns\n\nThe man mak...
2224    Losing yourself in online gaming\n\nOnline rol...
Name: text, Length: 2225, dtype: object

In [18]:
len(tokenized_docs)

974126

In [19]:
idx

34613

In [9]:
#reverese mapping
idx2word={v:k for k,v in word2idx.items()}

In [10]:
word2idx["dollar"]

235

In [11]:
idx2word[235]

'dollar'

In [28]:
#we are simply replacing the values from words to indexes to index to words

In [30]:
# number of documents
N = len(df['text'])
# number of words
V = len(word2idx)
# instantiate term-frequency matrix
# note: could have also used count vectorizer
tf = np.zeros((N, V))
# populate term-frequency counts
for i, doc_as_int in enumerate(tokenized_docs):
  for j in doc_as_int:
    tf[i, j] += 1

In [32]:
# compute IDF
document_freq = np.sum(tf > 0, axis=0) # document frequency (shape = (V,))
idf = np.log(N / document_freq)

In [34]:
tf_idf= tf * idf

In [38]:
np.random.seed(123)

In [39]:

#Pick a radom document show the top 5 terms in the document (in terms of tf-idf)
i=np.random.choice(N)
row=df.iloc[i]
print("label:",row['labels'])
print("text:",row['text'].split("\n",1)[0])
print("Top 5 Terms")

scores= tf_idf[i]
indices=(-scores).argsort()

for j in indices[:5]:
  print(idx2word[j])

label: sport
text: Athens memories soar above lows
Top 5 Terms
paula
athens
1500m
her
kelly